@* Test component to verify that gutters are applied when Gutters=true *@
<MudExpansionPanel Text="Panel with Gutters" Gutters="true" Expanded="true">
    <div>Test Content</div>
</MudExpansionPanel>
