@* Test component to verify that gutters are removed when Gutters=false *@
<MudExpansionPanel Text="Panel without Gutters" Gutters="false" Expanded="true">
    <div>Test Content</div>
</MudExpansionPanel>
