@* Test component to verify that parent Gutters=false overrides child Gutters=true *@
<MudExpansionPanels Gutters="false">
    <MudExpansionPanel Text="Panel with Gutters=true" Gutters="true" Expanded="true">
        <div>Test Content</div>
    </MudExpansionPanel>
</MudExpansionPanels>
